*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #ccc;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.container{
    display: flex;
    padding: 0.9rem;
    width: 100%;
    border: 1px solid white;
    background:white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}
span{
    color: red;
}
.left{
    display: flex;
    font-size: 17px;
    padding-top: 5px;
}
.left i{
    font-size: 13px;
    padding-top: 7px;
    padding-left: 8px;
}
.left h1{
    font-weight: 700;
    font-size: 20px;
}
.menu-icon{
    width: 24px;
    margin-top: 8px;
    padding-right: 5px;
    cursor: pointer;
}
.mid_contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 12%;
    gap: 15rem;
}
.contain-box{
    margin: 10px 20px;
    border: 1px solid white;
    padding-bottom: 50px;
    margin: 10px 10px;
    text-align: center;
    align-items: center;
    /* background: white; */
    /* background: linear-gradient(to right, rgba(0, 255, 17, 0.149), rgba(83, 200, 226, 0.188)); */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
.contain-box:hover .icon i{
    box-shadow:0px 0px 10px 1px rgba(255, 0, 0, 0.933);
}

.contain-box h1{
    padding-top: 35px;
    padding-bottom: 10px;

    color: red;
}
.contain-box p{
    padding-bottom: 10px;
    margin: 0px 30px;
    color: rgb(78, 73, 73);
}
.icon{
    padding: 20px 10px;
    margin-bottom: 50px;
    font-size: 40px;
}
.icon i{
    /* background: linear-gradient(to right, rgba(0, 255, 17, 0.149), rgba(83, 200, 226, 0.188)); */
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);;
    align-items:flex-start;
    padding: 50px 50px;
    border-radius: 50%;
    width: 50px;
}
hr{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    height: 2px;
    border: 0;
    outline: 0;
    position: absolute;
    top: 100%;
    left: -11%;
    bottom: 100%;
    width: 120%;
    margin-top: 70px;

}


ul{
    list-style: none;
}
.setting-menu {
   position: fixed;
   right: 0px;
   width: 230px;
   height: 100%;
   background: rgb(255, 21, 0);
   z-index: 1;
   display: none;
   box-shadow: 0 0 20px 15px rgba(255, 5, 5, 0.5);
}
.setting-menu .options{
    position: absolute;
    z-index: 1;
    top: 13%;
    left: 0%;
}
.options ul li a{
    text-decoration: none;
}
.setting-menu-dis{
    display: block;
}
.setting-menu .options ul{
    position:absolute;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
}
.setting-menu .options ul li{   
    justify-content: center;
    padding: 20px 72px;
    /* box-shadow: 0 0 10px 1px rgb(204, 204, 29); */
    font-weight: 600;
    transition: 0.5s;
}
.setting-menu .options ul li:hover{
    background: black;

}
.setting-menu .options ul li a{
    transition: 0.5s;
}
.setting-menu .options ul li a{
    color: white;
}
.setting-menu .options ul li a:hover{
    color: red;
}

@media screen and (max-width:600px) {
    .mid_contain{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0;
        width: 80%;
    }
    .mid_contain .contain-box{
        margin-bottom: 5rem;
    }
    .container .left i{
        display: none;
    }
    .right div a{
        font-size: 10px;
        
    }
    .contain-box p{
        font-size: 13px;
    }
    .contain-box h1{
        font-size: 23px;
    }
    .container .left h1{
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    .menu-icon{
        width: 20px;
    }
}
