*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #ccc;
}
img{
    /* height: 100%; */
    max-width: 100%;
    object-fit: cover;
    filter: blur(2px);
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.container{
    display: flex;
    padding: 0.9rem;
    width: 100%;
    border: 1px solid white;
    background:white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}
span{
    color: red;
}
.left{
    display: flex;
    font-size: 17px;
    padding-top: 5px;
}
.left i{
    padding-top: 10px;
    padding-left: 8px;
}
.left h1{
    font-weight: 700;
}
.right{
    padding: 0.4rem 0.2rem;
    margin: 0px 10px;
    display: flex;
}
.right div{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px 5px;
    display: flex;
    margin: 0px 10px;
}
.right div:hover{
    box-shadow: 0px 0px 10px 1px rgba(255, 0, 0, 0.933);
    border-radius: 50%;
    padding: 5px 5px;
    display: flex;
    margin: 0px 10px;
}
.right div a{

    padding: 2px 2px;
    text-align: center;
}
.mid_contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 20%;
    gap: 15rem;
}
.contain-box{
    margin: 10px 20px;
    border: 1px solid white;
    padding-bottom: 50px;
    margin: 10px 10px;
    text-align: center;
    align-items: center;
    /* background: white; */
    /* background: linear-gradient(to right, rgba(0, 255, 17, 0.149), rgba(83, 200, 226, 0.188)); */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
.contain-box:hover .icon i{
    box-shadow:0px 0px 10px 1px rgba(255, 0, 0, 0.933);
}

.contain-box h1{
    padding-top: 35px;
    padding-bottom: 10px;

    color: red;
}
.contain-box p{
    padding-bottom: 10px;
    margin: 0px 30px;
    color: rgb(78, 73, 73);
}
.icon{
    padding: 20px 10px;
    margin-bottom: 50px;
    font-size: 40px;
}
.icon i{
    /* background: linear-gradient(to right, rgba(0, 255, 17, 0.149), rgba(83, 200, 226, 0.188)); */
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);;
    align-items:flex-start;
    padding: 50px 50px;
    border-radius: 50%;
    width: 50px;
}
hr{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    height: 2px;
    border: 0;
    outline: 0;
    position: absolute;
    top: 100%;
    left: -11%;
    bottom: 100%;
    width: 120%;
    margin-top: 70px;

}
@media screen and (max-width:600px) {
    .mid_contain{
        display: inline-block;
    }
    .mid_contain .contain-box{
        margin-bottom: 5rem;
    }
}